.u-mb-xs {
  margin-bottom: 1.2rem !important;
}

.u-mb-s {
  margin-bottom: 1.6rem !important;
}

.u-mb-m {
  margin-bottom: 2.4rem !important;
}

.u-mb-l {
  margin-bottom: 3.2rem !important;
}

.u-mb-xl {
  margin-bottom: 4.8rem !important;
}

.u-pb-xxl {
  padding-bottom: 6.4rem;
}

.u-pb-xxxl {
  padding-bottom: 9.6rem;
}

.u-flex-horizontal {
  display: flex;
}

.u-flex-center-vertical {
  align-items: center;
}

.u-text-center {
  text-align: center;
}
