// COLORS
$color-black: #000;
$color-white: #fff;
$color-primary: #fab42d;
$color-secondary: #1e1932;

// SHAPE
$border-radius-default: 12px;
$border-radius-btn: 50px;

// FONT
$font-family-primary: 'Montserrat', 'sans-serif';
$font-size-default: 1.6rem;

// SPACE
$news-col-space: 1.6rem;
$space-large: 4.8rem;
$space-section: 12.8rem;
